<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru - Course Name</title>

    <!--    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"-->
    <!--          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>-->

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <!--    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>-->


    <script>
        $(function () {
            $("#nav-placeholder").load("sidebar2.html");
            $("#footer-placeholder").load("stickyfooter.html");
            $("#nav1-placeholder").load("navbar-top-fixed.html");
        });
    </script>
</head>
<body>
<div id="nav1-placeholder">

</div>

<div id="nav-placeholder">

</div>

<div class="container-fluid">
    <div class="row course-listing">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <img src="../static/images/SpringIntroThumb.png"
                         th:src="@{'/images/'+${product.imageUrl}}"
                         class="center-block"/>
                </div>
            </div>
            <div class="row course-listing-extra-info col-xs-12">
                <div class="col-xs-8">
                    <img align="left" alt="John Thompson"
                         src="../static/images/instructor_jt.jpg"
                         th:src="@{'/images/'+${product.author.image}}"
                         class="img-circle"/>
                    <div class="small course-author-name" th:text="${(product.author.firstName)
                                                          + ' ' + (product.author.lastName)}">
                        Author Name
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="small course-price" th:text="${product.price > 0 ? '$' + product.price : 'FREE'}">
                        $PRICE
                    </div>
                </div>
            </div>

            <div class="row col-xs-12">
                <div>
                    <ol class="breadcrumb">
                        <li th:each="product1 : ${product.productCategories}">
                            <a href="#"
                               th:text="${product1.category}">Cat1</a>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h2 th:text="${product.courseSubtitle}">Course Title</h2>
                <p th:text="${product.courseDescription}">Adipiscing magna vestibulum fringilla tristique ad a primis
                    ante mi inceptos condimentum curabitur
                    curabitur eu sed nullam ridiculus nunc montes id nostra dui inceptos scelerisque posuere ipsum mus.
                    A scelerisque libero viverra eu condimentum mollis suscipit mi consectetur semper dis ipsum nisi
                    in nullam aliquet iaculis in eros euismod bibendum. Adipiscing volutpat fringilla bibendum duis a
                    maecenas eu lorem accumsan fames sem faucibus ad mauris aliquam nam. Torquent amet adipiscing fusce
                    fringilla venenatis tristique scelerisque natoque malesuada nostra duis nam augue ridiculus
                    pulvinar ultrices laoreet in condimentum justo id. Nascetur condimentum maecenas magna metus curae
                    est odio ad dui fames quam a aenean consequat faucibus nostra lorem adipiscing vestibulum
                    ullamcorper etiam consectetur. </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${product.courseName}">Basketball Guru Aidan John- I am the King</h1>
        </div>
    </div>

</div>

<div class="container-fluid" id="footer-placeholder">

</div>


<!--<div class="container" th:replace="fragments/footer :: footer">-->
<!--    <p>footer</p>-->
<!--</div>-->

</body>
</html>